In [1]:
import pandas as pd

### AMERICAS Datasets

In [2]:
# Data collected from a previous project
americas_kickoff_df = pd.read_csv('../datasets/americas_kickoff.csv')
americas_kickoff_df = americas_kickoff_df.drop(columns=['Unnamed: 0'])

americas_stage1_df = pd.read_csv('../datasets/americas_stage1.csv')
americas_stage1_df = americas_stage1_df.drop(columns=['Unnamed: 0'])

americas_stage1_playoffs_df = pd.read_csv('../datasets/americas_stage1_playoffs.csv')
americas_stage1_playoffs_df = americas_stage1_playoffs_df.drop(columns=['Unnamed: 0', '1', '2', '3', '4'])

# Combining the datasets into one df
americas_combined_df = pd.concat([americas_kickoff_df, americas_stage1_df, americas_stage1_playoffs_df], ignore_index=True)

In [3]:
unique_teams = sorted(americas_combined_df['Team'].unique())
print(unique_teams)

['100 Thieves', '2Game Esports', 'Cloud9', 'Evil Geniuses', 'FURIA', 'G2 Esports', 'KRÜ Esports', 'LOUD', 'Leviatán', 'MIBR', 'NRG Esports', 'Sentinels']

In [4]:
# Changing the region and team names for better clarity
americas_combined_df.insert(0, "Region", "AMERICAS")  # Make "Americas" the first column as "Region"

americas_teams_dict = {
    "100T": '100 Thieves',
    "2G": '2Game Esports',
    "C9": 'Cloud9',
    "EG": 'Evil Geniuses',
    "FUR": 'FURIA',
    "G2": 'G2 Esports',
    "KRU": 'KRÜ Esports',
    "LOUD": 'LOUD',
    "LEV": 'Leviatán',
    "MIBR": 'MIBR',
    "NRG": 'NRG Esports',
    "SEN": 'Sentinels',
}
americas_combined_df['Team'] = americas_combined_df['Team'].replace({v: k for k, v in americas_teams_dict.items()})

In [5]:
null_columns = americas_combined_df.columns[americas_combined_df.isnull().any()]
print(null_columns)

Index(['+1', '+2', '+3', '+4', '-4'], dtype='object')

In [6]:
americas_combined_df[["+1"]] = americas_combined_df[["+1"]].fillna(americas_combined_df[["+1"]].mean())
americas_combined_df[["+2"]] = americas_combined_df[["+2"]].fillna(americas_combined_df[["+2"]].mean())
americas_combined_df[["+3"]] = americas_combined_df[["+3"]].fillna(americas_combined_df[["+3"]].mean())
americas_combined_df[["+4"]] = americas_combined_df[["+4"]].fillna(americas_combined_df[["+4"]].mean())
americas_combined_df[["-4"]] = americas_combined_df[["-4"]].fillna(americas_combined_df[["-4"]].mean())

null_columns = americas_combined_df.columns[americas_combined_df.isnull().any()]
print(null_columns)

Index([], dtype='object')

In [7]:
total_pistol_rounds = americas_combined_df["Pistol Rounds Won"] + americas_combined_df["Pistol Rounds Won Opp"]

americas_combined_df["Pistol Rounds Won"] = americas_combined_df["Pistol Rounds Won"] / total_pistol_rounds
americas_combined_df["Pistol Rounds Won Opp"] = americas_combined_df["Pistol Rounds Won Opp"] / total_pistol_rounds

americas_combined_df.head()

,Region,Team,Pistol Rounds Won,First Kills,KAST,Clutches,Eco,Semi-Eco,Half-Buy,Full-Buy,...,+1 Opp,-1 Opp,0 Opp,+2 Opp,-2 Opp,-3 Opp,+3 Opp,+4 Opp,-4 Opp,Result
0,AMERICAS,EG,0.50,23,0.67,0.068966,0.0,0.25,0.33,0.52,...,0.8650,0.2800,0.605,0.916667,0.046667,0.0,1.0,1.0,0.0,0
1,AMERICAS,LOUD,0.50,26,0.71,0.173913,0.0,0.00,0.43,0.68,...,0.7200,0.1350,0.395,0.953333,0.083333,0.0,1.0,1.0,0.0,1
2,AMERICAS,MIBR,0.25,11,0.59,0.040000,0.0,0.00,0.25,0.53,...,0.7925,0.3000,0.675,0.953333,0.166667,0.0,1.0,1.0,0.0,0
3,AMERICAS,100T,0.75,28,0.82,0.200000,0.0,0.00,0.44,0.76,...,0.7000,0.2075,0.325,0.833333,0.046667,0.0,0.5,0.0,0.0,1
4,AMERICAS,2G,0.50,20,0.67,0.071429,0.0,0.00,0.38,0.37,...,0.9450,0.3450,0.900,0.850000,0.110000,0.0,1.0,1.0,0.0,0

In [8]:
americas_combined_df.to_csv('../datasets/americas_combined.csv')

### EMEA Datasets

In [10]:
# Data collected from a previous project
emea_kickoff_df = pd.read_csv('../datasets/emea_kickoff.csv')
emea_kickoff_df = emea_kickoff_df.drop(columns=['Unnamed: 0'])

emea_stage1_df = pd.read_csv('../datasets/emea_stage1.csv')
emea_stage1_df = emea_stage1_df.drop(columns=['Unnamed: 0'])

emea_stage1_playoffs_df = pd.read_csv('../datasets/emea_stage1_playoffs.csv')
emea_stage1_playoffs_df = emea_stage1_playoffs_df.drop(columns=['Unnamed: 0'])

# Combining the datasets into one df
emea_combined_df = pd.concat([emea_kickoff_df, emea_stage1_df, emea_stage1_playoffs_df], ignore_index=True)

In [11]:
unique_teams = sorted(emea_combined_df['Team'].unique())
print(unique_teams)

['Apeks', 'BBL Esports', 'FNATIC', 'FUT Esports', 'GIANTX', 'Gentle Mates', 'KOI', 'Karmine Corp', 'Natus Vincere', 'Team Heretics', 'Team Liquid', 'Team Vitality']

In [12]:
# Changing the region and team names for better clarity
emea_combined_df.insert(0, "Region", "EMEA")  # Make "Americas" the first column as "Region"

emea_teams_dict = {
    "APK": 'Apeks',
    "BBL": 'BBL Esports',
    "FNC": 'FNATIC',
    "FUT": 'FUT Esports',
    "GX": 'GIANTX',
    "M8": 'Gentle Mates',
    "MKOI": 'KOI',
    "KC": 'Karmine Corp',
    "NAVI": 'Natus Vincere',
    "TH": 'Team Heretics',
    "TL": 'Team Liquid',
    "VIT": 'Team Vitality',
}
emea_combined_df['Team'] = emea_combined_df['Team'].replace({v: k for k, v in emea_teams_dict.items()})

In [13]:
null_columns = emea_combined_df.columns[emea_combined_df.isnull().any()]
print(null_columns)

Index(['+4', '-4'], dtype='object')

In [14]:
emea_combined_df[["+4"]] = emea_combined_df[["+4"]].fillna(emea_combined_df[["+4"]].mean())
emea_combined_df[["-4"]] = emea_combined_df[["-4"]].fillna(emea_combined_df[["-4"]].mean())

null_columns = emea_combined_df.columns[emea_combined_df.isnull().any()]
print(null_columns)

Index([], dtype='object')

In [16]:
total_pistol_rounds = emea_combined_df["Pistol Rounds Won"] + emea_combined_df["Pistol Rounds Won Opp"]

emea_combined_df["Pistol Rounds Won"] = emea_combined_df["Pistol Rounds Won"] / total_pistol_rounds
emea_combined_df["Pistol Rounds Won Opp"] = emea_combined_df["Pistol Rounds Won Opp"] / total_pistol_rounds

emea_combined_df.head()

,Region,Team,Pistol Rounds Won,First Kills,KAST,Clutches,Eco,Semi-Eco,Half-Buy,Full-Buy,...,+1 Opp,-1 Opp,0 Opp,+2 Opp,-2 Opp,-3 Opp,+3 Opp,+4 Opp,-4 Opp,Result
0,EMEA,BBL,0.833333,37,0.74,0.156250,0.0,0.00,0.64,0.56,...,0.7725,0.1925,0.2575,0.926667,0.070000,0.00,0.75,0.0,0.0,1
1,EMEA,GX,0.166667,29,0.65,0.097561,0.0,0.33,0.27,0.58,...,0.8075,0.2275,0.7425,0.930000,0.073333,0.25,1.00,1.0,0.0,0
2,EMEA,KC,0.666667,26,0.79,0.227273,0.0,0.00,0.60,0.70,...,0.6675,0.2325,0.3825,0.890000,0.046667,0.00,1.00,1.0,0.0,1
3,EMEA,NAVI,0.333333,31,0.71,0.117647,0.0,0.00,0.43,0.42,...,0.7675,0.3325,0.6175,0.953333,0.110000,0.00,1.00,1.0,0.0,0
4,EMEA,TL,0.500000,34,0.75,0.137931,0.0,0.00,0.50,0.68,...,0.7075,0.1875,0.5400,0.896667,0.000000,0.00,1.00,1.0,0.0,1

In [17]:
emea_combined_df.to_csv('../datasets/emea_combined.csv')

### APAC Datasets

In [18]:
# Data collected from a previous project
apac_kickoff_df = pd.read_csv('../datasets/apac_kickoff.csv')
apac_kickoff_df = apac_kickoff_df.drop(columns=['Unnamed: 0'])

apac_stage1_df = pd.read_csv('../datasets/apac_stage1.csv')
apac_stage1_df = apac_stage1_df.drop(columns=['Unnamed: 0'])

apac_stage1_playoffs_df = pd.read_csv('../datasets/apac_stage1_playoffs.csv')
apac_stage1_playoffs_df = apac_stage1_playoffs_df.drop(columns=['Unnamed: 0'])

# Combining the datasets into one df
apac_combined_df = pd.concat([apac_kickoff_df, apac_stage1_df, apac_stage1_playoffs_df], ignore_index=True)

In [19]:
unique_teams = sorted(apac_combined_df['Team'].unique())
print(unique_teams)

['BOOM Esports', 'DRX', 'DetonatioN FocusMe', 'Gen.G Esports', 'Global Esports', 'Nongshim RedForce', 'Paper Rex', 'Rex Regum Qeon', 'T1', 'TALON', 'Team Secret', 'ZETA DIVISION']

In [20]:
# Changing the region and team names for better clarity
apac_combined_df.insert(0, "Region", "APAC")  # Make "Americas" the first column as "Region"

apac_teams_dict = {
    "BME": 'BOOM Esports',
    "DRX": 'DRX',
    "DFM": 'DetonatioN FocusMe',
    "GEN": 'Gen.G Esports',
    "GE": 'Global Esports',
    "NS": 'Nongshim RedForce',
    "PRX": 'Paper Rex',
    "RRQ": 'Rex Regum Qeon',
    "T1": 'T1',
    "TLN": 'TALON',
    "TS": 'Team Secret',
    "ZETA": 'ZETA DIVISION',
}
apac_combined_df['Team'] = apac_combined_df['Team'].replace({v: k for k, v in apac_teams_dict.items()})

In [21]:
null_columns = apac_combined_df.columns[apac_combined_df.isnull().any()]
print(null_columns)

Index([], dtype='object')

In [22]:
total_pistol_rounds = apac_combined_df["Pistol Rounds Won"] + apac_combined_df["Pistol Rounds Won Opp"]

apac_combined_df["Pistol Rounds Won"] = apac_combined_df["Pistol Rounds Won"] / total_pistol_rounds
apac_combined_df["Pistol Rounds Won Opp"] = apac_combined_df["Pistol Rounds Won Opp"] / total_pistol_rounds

apac_combined_df.head()

,Region,Team,Pistol Rounds Won,First Kills,KAST,Clutches,Eco,Semi-Eco,Half-Buy,Full-Buy,...,+1 Opp,-1 Opp,0 Opp,+2 Opp,-2 Opp,-3 Opp,+3 Opp,+4 Opp,-4 Opp,Result
0,APAC,BME,0.833333,34,0.71,0.108108,0.00,0.14,0.50,0.49,...,0.8875,0.2600,0.6200,0.953333,0.096667,0.0,1.0,1.0,0.0,0
1,APAC,T1,0.166667,30,0.68,0.142857,0.25,0.00,0.89,0.57,...,0.7400,0.1125,0.3800,0.903333,0.046667,0.0,1.0,1.0,0.0,1
2,APAC,ZETA,0.500000,20,0.67,0.074074,0.00,0.00,0.36,0.50,...,0.8100,0.2850,0.6675,1.000000,0.233333,0.0,1.0,0.0,0.0,0
3,APAC,NS,0.500000,24,0.80,0.150000,0.00,0.00,0.60,0.69,...,0.7150,0.1900,0.3325,0.766667,0.000000,0.0,1.0,1.0,0.0,1
4,APAC,GE,0.666667,26,0.70,0.172414,0.00,0.40,0.56,0.52,...,0.6225,0.2475,0.2400,0.866667,0.103333,0.0,1.0,1.0,0.0,1

In [23]:
apac_combined_df.to_csv('../datasets/apac_combined.csv')

### Combined dataset for all the regions

In [24]:
vct_combined_df = pd.concat([americas_combined_df, emea_combined_df, apac_combined_df], ignore_index=True)
vct_combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 37 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Region                 384 non-null    object
 1   Team                   384 non-null    object
 2   Pistol Rounds Won      384 non-null    float64
 3   First Kills            384 non-null    int64
 4   KAST                   384 non-null    float64
 5   Clutches               384 non-null    float64
 6   Eco                    384 non-null    float64
 7   Semi-Eco               384 non-null    float64
 8   Half-Buy               384 non-null    float64
 9   Full-Buy               384 non-null    float64
 10  +1                     384 non-null    float64
 11  -1                     384 non-null    float64
 12  0                      384 non-null    float64
 13  +2                     384 non-null    float64
 14  -2                     384 non-null    float64
 15  -3                     384 non-null    float64
 16  +3                     384 non-null    float64
 17  +4                     384 non-null    float64
 18  -4                     384 non-null    float64
 19  Pistol Rounds Won Opp  384 non-null    float64
 20  First Kills Opp        384 non-null    int64
 21  KAST Opp               384 non-null    float64
 22  Clutches Opp           384 non-null    float64
 23  Eco Opp                384 non-null    float64
 24  Semi-Eco Opp           384 non-null    float64
 25  Half-Buy Opp           384 non-null    float64
 26  Full-Buy Opp           384 non-null    float64
 27  +1 Opp                 384 non-null    float64
 28  -1 Opp                 384 non-null    float64
 29  0 Opp                  384 non-null    float64
 30  +2 Opp                 384 non-null    float64
 31  -2 Opp                 384 non-null    float64
 32  -3 Opp                 384 non-null    float64
 33  +3 Opp                 384 non-null    float64
 34  +4 Opp                 384 non-null    float64
 35  -4 Opp                 384 non-null    float64
 36  Result                 384 non-null    int64
dtypes: float64(32), int64(3), object(2)
memory usage: 111.1+ KB

In [25]:
null_columns = vct_combined_df.columns[vct_combined_df.isnull().any()]
print(null_columns)

null_indices = vct_combined_df[vct_combined_df.isnull().any(axis=1)].index
vct_combined_df.loc[null_indices]

Index([], dtype='object')

Empty DataFrame
Columns: [Region, Team, Pistol Rounds Won, First Kills, KAST, Clutches, Eco, Semi-Eco, Half-Buy, Full-Buy, +1, -1, 0, +2, -2, -3, +3, +4, -4, Pistol Rounds Won Opp, First Kills Opp, KAST Opp, Clutches Opp, Eco Opp, Semi-Eco Opp, Half-Buy Opp, Full-Buy Opp, +1 Opp, -1 Opp, 0 Opp, +2 Opp, -2 Opp, -3 Opp, +3 Opp, +4 Opp, -4 Opp, Result]
Index: []

[0 rows x 37 columns]

In [26]:
vct_combined_df.head()

,Region,Team,Pistol Rounds Won,First Kills,KAST,Clutches,Eco,Semi-Eco,Half-Buy,Full-Buy,...,+1 Opp,-1 Opp,0 Opp,+2 Opp,-2 Opp,-3 Opp,+3 Opp,+4 Opp,-4 Opp,Result
0,AMERICAS,EG,0.50,23,0.67,0.068966,0.0,0.25,0.33,0.52,...,0.8650,0.2800,0.605,0.916667,0.046667,0.0,1.0,1.0,0.0,0
1,AMERICAS,LOUD,0.50,26,0.71,0.173913,0.0,0.00,0.43,0.68,...,0.7200,0.1350,0.395,0.953333,0.083333,0.0,1.0,1.0,0.0,1
2,AMERICAS,MIBR,0.25,11,0.59,0.040000,0.0,0.00,0.25,0.53,...,0.7925,0.3000,0.675,0.953333,0.166667,0.0,1.0,1.0,0.0,0
3,AMERICAS,100T,0.75,28,0.82,0.200000,0.0,0.00,0.44,0.76,...,0.7000,0.2075,0.325,0.833333,0.046667,0.0,0.5,0.0,0.0,1
4,AMERICAS,2G,0.50,20,0.67,0.071429,0.0,0.00,0.38,0.37,...,0.9450,0.3450,0.900,0.850000,0.110000,0.0,1.0,1.0,0.0,0

In [27]:
vct_combined_df.to_csv('../datasets/vct_combined.csv')

### Storing the averages for each team

In [34]:
americas_average_df = americas_combined_df.groupby('Team').mean(numeric_only=True).reset_index()
americas_average_df = americas_average_df.drop(columns=[col for col in americas_average_df.columns if "Opp" in col])
americas_average_df

,Team,Pistol Rounds Won,First Kills,KAST,Clutches,Eco,Semi-Eco,Half-Buy,Full-Buy,+1,-1,0,+2,-2,-3,+3,+4,-4,Result
0,100T,0.469697,26.272727,0.730000,0.166413,0.143636,0.197273,0.435455,0.572727,0.771683,0.204545,0.477500,0.931422,0.058788,0.000000,0.981394,0.953636,0.0,0.454545
1,2G,0.452381,20.142857,0.671429,0.128353,0.178571,0.020000,0.391429,0.425714,0.665357,0.122857,0.371429,0.682381,0.033810,0.000000,0.847143,0.857143,0.0,0.142857
2,C9,0.541667,25.600000,0.707000,0.205404,0.083000,0.025000,0.479000,0.585000,0.804817,0.231750,0.520000,0.927821,0.046333,0.008500,0.936356,0.749000,0.0,0.400000
3,EG,0.500000,23.545455,0.693636,0.195855,0.257273,0.292727,0.493636,0.550909,0.731001,0.239091,0.543864,0.866876,0.099697,0.000000,0.890485,0.847273,0.0,0.545455
4,FUR,0.270833,19.500000,0.663750,0.133068,0.145000,0.031250,0.417500,0.471250,0.654375,0.178125,0.435312,0.884583,0.036250,0.007500,0.979375,0.750000,0.0,0.125000
5,G2,0.552976,33.928571,0.746429,0.213730,0.023571,0.320000,0.600000,0.637857,0.810834,0.304821,0.559107,0.950037,0.076429,0.000000,0.929564,0.867857,0.0,0.928571
6,KRU,0.541667,24.750000,0.726667,0.196171,0.083333,0.375000,0.565833,0.555833,0.792348,0.293750,0.549236,0.949017,0.131389,0.000000,0.780296,0.721667,0.0,0.583333
7,LEV,0.458333,21.500000,0.717500,0.171480,0.041250,0.192500,0.465000,0.532500,0.778750,0.247500,0.494167,0.938750,0.084583,0.020625,0.937500,0.625000,0.0,0.250000
8,LOUD,0.518519,29.333333,0.698889,0.137035,0.083333,0.175556,0.488889,0.544444,0.778333,0.223333,0.453611,0.922593,0.038148,0.007778,1.000000,1.000000,0.0,0.222222
9,MIBR,0.544444,29.666667,0.726000,0.166306,0.222000,0.262667,0.543333,0.579333,0.772423,0.263167,0.548722,0.929983,0.099111,0.014333,0.948474,0.798667,0.0,0.666667
10,NRG,0.527778,24.888889,0.726667,0.106846,0.000000,0.094444,0.540000,0.450000,0.646426,0.152500,0.386389,0.877493,0.051852,0.000000,0.974087,0.870000,0.0,0.333333
11,SEN,0.506548,30.642857,0.737857,0.167617,0.170000,0.247143,0.502143,0.607143,0.788132,0.269286,0.522857,0.920696,0.121429,0.000000,0.976937,0.880000,0.0,0.714286

In [35]:
emea_average_df = emea_combined_df.groupby('Team').mean(numeric_only=True).reset_index()
emea_average_df = emea_average_df.drop(columns=[col for col in emea_average_df.columns if "Opp" in col])
emea_average_df

,Team,Pistol Rounds Won,First Kills,KAST,Clutches,Eco,Semi-Eco,Half-Buy,Full-Buy,+1,-1,0,+2,-2,-3,+3,+4,-4,Result
0,APK,0.428571,24.000000,0.675714,0.121045,0.071429,0.077143,0.472857,0.470000,0.770000,0.178929,0.446071,0.850000,0.078571,0.000000,0.985714,0.857143,0.0,0.000000
1,BBL,0.596154,26.615385,0.720769,0.155869,0.116154,0.276923,0.569231,0.563846,0.787115,0.275000,0.568462,0.908462,0.085897,0.031538,0.950385,0.923077,0.0,0.615385
2,FNC,0.487179,29.076923,0.728462,0.170188,0.179231,0.230769,0.548462,0.619231,0.803462,0.238269,0.478654,0.940769,0.066154,0.028846,0.961538,0.846154,0.0,0.769231
3,FUT,0.548611,24.166667,0.703333,0.154489,0.094167,0.202500,0.532500,0.535000,0.749167,0.229167,0.534167,0.933889,0.126389,0.012083,0.859583,0.901455,0.0,0.500000
4,GX,0.312500,24.625000,0.692500,0.109753,0.150000,0.138750,0.421250,0.496250,0.726875,0.185938,0.415312,0.851667,0.056667,0.008750,0.906250,0.375000,0.0,0.250000
5,KC,0.472222,28.222222,0.735556,0.146892,0.058889,0.174444,0.553333,0.583333,0.783611,0.267500,0.543333,0.899259,0.040370,0.000000,0.988889,0.888889,0.0,0.333333
6,M8,0.416667,25.000000,0.677778,0.098896,0.136667,0.165556,0.478889,0.490000,0.650556,0.207778,0.425833,0.857778,0.039259,0.013889,0.953889,0.777778,0.0,0.333333
7,MKOI,0.464286,23.142857,0.678571,0.125277,0.128571,0.082857,0.378571,0.464286,0.694643,0.169286,0.381786,0.934762,0.090000,0.000000,0.714286,0.714286,0.0,0.142857
8,NAVI,0.541667,27.300000,0.698000,0.149449,0.083000,0.050000,0.466000,0.525000,0.769500,0.218000,0.469250,0.876000,0.091333,0.010000,0.900000,0.900000,0.0,0.400000
9,TH,0.493590,26.384615,0.729231,0.160216,0.102308,0.252308,0.543077,0.580000,0.759423,0.187308,0.538269,0.944615,0.077436,0.022308,0.956154,0.923077,0.0,0.692308
10,TL,0.523529,32.588235,0.724118,0.154860,0.291765,0.218824,0.554118,0.590000,0.792353,0.251471,0.520882,0.927647,0.067647,0.005882,0.925588,0.812792,0.0,0.705882
11,VIT,0.585000,25.400000,0.701000,0.168147,0.000000,0.220000,0.564000,0.594000,0.854500,0.276000,0.559250,0.962000,0.129000,0.000000,0.991500,0.700000,0.0,0.600000

In [36]:
apac_average_df = apac_combined_df.groupby('Team').mean(numeric_only=True).reset_index()
apac_average_df = apac_average_df.drop(columns=[col for col in apac_average_df.columns if "Opp" in col])
apac_average_df

,Team,Pistol Rounds Won,First Kills,KAST,Clutches,Eco,Semi-Eco,Half-Buy,Full-Buy,+1,-1,0,+2,-2,-3,+3,+4,-4,Result
0,BME,0.611111,26.555556,0.726667,0.189085,0.000000,0.463333,0.548889,0.520000,0.762778,0.236111,0.537500,0.851852,0.055556,0.034444,0.938333,0.777778,0.0,0.555556
1,DFM,0.453704,20.222222,0.665556,0.114888,0.000000,0.346667,0.437778,0.401111,0.688611,0.207778,0.452870,0.898889,0.058519,0.007778,0.777778,0.777778,0.0,0.222222
2,DRX,0.576923,33.307692,0.733077,0.145300,0.133077,0.262308,0.556154,0.577692,0.783269,0.225962,0.493269,0.911282,0.027692,0.000000,0.993462,0.846154,0.0,0.769231
3,GE,0.375000,20.125000,0.673750,0.129961,0.000000,0.221250,0.470000,0.465000,0.725938,0.198437,0.521146,0.918333,0.081667,0.000000,0.843750,0.500000,0.0,0.250000
4,GEN,0.494048,27.571429,0.733571,0.161173,0.090000,0.207857,0.677143,0.619286,0.846786,0.245000,0.565893,0.954762,0.101429,0.028929,0.977857,0.928571,0.0,0.642857
5,NS,0.492424,30.909091,0.720000,0.166200,0.130000,0.244545,0.568182,0.573636,0.782727,0.233864,0.468182,0.947273,0.086364,0.000000,1.000000,0.909091,0.0,0.545455
6,PRX,0.579167,28.916667,0.733333,0.167338,0.083333,0.338333,0.530000,0.575000,0.766458,0.269375,0.482708,0.941389,0.070278,0.007083,0.980000,0.916667,0.0,0.500000
7,RRQ,0.516667,33.769231,0.727692,0.172573,0.102308,0.097692,0.511538,0.595385,0.793846,0.234615,0.515385,0.961795,0.071282,0.007692,1.000000,0.769231,0.0,0.615385
8,T1,0.371795,30.846154,0.697692,0.124679,0.120769,0.173077,0.564615,0.551538,0.769038,0.233462,0.499038,0.916154,0.054615,0.007692,0.884615,0.846154,0.0,0.538462
9,TLN,0.506944,24.666667,0.688333,0.128438,0.016667,0.110000,0.489167,0.503333,0.758750,0.222292,0.535000,0.951667,0.045833,0.000000,0.875000,0.833333,0.0,0.500000
10,TS,0.535714,25.285714,0.678571,0.115502,0.107143,0.190000,0.458571,0.480000,0.734286,0.190357,0.345000,0.905714,0.056190,0.000000,0.971429,1.000000,0.0,0.142857
11,ZETA,0.464286,25.000000,0.661429,0.147176,0.094286,0.095714,0.480000,0.508571,0.684643,0.191429,0.516786,0.910000,0.036667,0.010000,1.000000,0.714286,0.0,0.285714

In [38]:
vct_average_df = pd.concat([americas_average_df, emea_average_df, apac_average_df], ignore_index=True)
vct_average_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Team               36 non-null     object
 1   Pistol Rounds Won  36 non-null     float64
 2   First Kills        36 non-null     float64
 3   KAST               36 non-null     float64
 4   Clutches           36 non-null     float64
 5   Eco                36 non-null     float64
 6   Semi-Eco           36 non-null     float64
 7   Half-Buy           36 non-null     float64
 8   Full-Buy           36 non-null     float64
 9   +1                 36 non-null     float64
 10  -1                 36 non-null     float64
 11  0                  36 non-null     float64
 12  +2                 36 non-null     float64
 13  -2                 36 non-null     float64
 14  -3                 36 non-null     float64
 15  +3                 36 non-null     float64
 16  +4                 36 non-null     float64
 17  -4                 36 non-null     float64
 18  Result             36 non-null     float64
dtypes: float64(18), object(1)
memory usage: 5.5+ KB

In [39]:
americas_average_df.to_csv('../datasets/americas_average.csv')
emea_average_df.to_csv('../datasets/emea_average.csv')
apac_average_df.to_csv('../datasets/apac_average.csv')
vct_average_df.to_csv('../datasets/vct_average.csv')